

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/

$navbar-fg: #281f36;
$gradient-from: #fa9898cc;
$gradient-to: #7a7affcc;

/* -- scss:mixins --*/

/*-- scss:rules --*/

@keyframes scrolldiag {
  from {
    background-position-x: 0;
    background-position-y: 0;
  }

  to {
    background-position-y: 600px;
    background-position-x: 1200px;
  }
}

/* moving background pattern */

body {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 54s;
  animation-name: scrolldiag;
  background-size: 35px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23222222' fill-opacity='0.025'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  header#quarto-header {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    nav.navbar {
      background: linear-gradient(30deg, $gradient-from, $gradient-to);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
      span, a {
        font-family: "Inter";
        font-style: italic;
      }
  
      .navbar-title {
        font-weight: 800;
      }

      .navbar-collapse {
        .nav-link {
          text-transform: uppercase;
        }
      }
    }
  }
  
  .btn-gradient {
    background: linear-gradient(30deg, $gradient-from, $gradient-to);
    color: $navbar-fg;
    width: 100%;
    border: none;
    box-shadow: 0px 10px 10px 0px 10px 10px #fa989811;
  }
}

// (disable animated bg if people prefer less motion) 
@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}
