@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/style/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/style/fonts/Inter-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/style/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/style/fonts/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/style/fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/

$code-block-border-left: darkorange;

/* -- scss:mixins --*/

/*-- scss:rules --*/

:root {
  --bs-card-inner-border-radius: 1.5em;
}

h1, h2, .h1, .h2 {
  font-weight: 800;
  font-style: italic;
}

.listing-title {
  font-weight: 800;
  font-style: italic;
}

.category-cloud {
  font-size: 0.75rem;
}

main.content a {
  font-weight: 700;
}

main.content .quarto-listing .listing-description a,
main.content .quarto-listing .card-text.listing-description {
  font-weight: normal;
}

.quarto-listing .listing-category {
  font-weight: 700;
}

.card {
  border: none;
}


/* home page header only (not post headers hopefully!) */
.quarto-about-jolla {
  
  header.quarto-title-block {
    border-bottom: none;
    padding-bottom: 0px;
    
    .description {
      text-align: center;
    }
  }
}

header.quarto-title-block .description {
  font-size: 1.15rem;
}

/* social links on mobile */
@include media-breakpoint-down(lg) {
  
  // homepage socials
  div.quarto-about-jolla .about-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.8em;
    row-gap: 15px;
    width: auto;
    font-size: 1.5em;

    .about-link-text {
      display: none;
    }

    .about-link {
      border: none;

      &:hover {
        color: gold;
      }
    }
  }
}

/* customise post header */
.quarto-title {
  display: flex;
  flex-direction: column-reverse;
}

header.quarto-title-block {
  padding-bottom: 1rem;
  border-bottom: 1px solid #edaaaf;
}

/* gentle shadow on cards and callouts */

.card, .callout {
  box-shadow: $standard-shadow;
}

.callout {
  background-color: white;
}

/* make category/tag pills opaque bg */
div.quarto-post .listing-categories .listing-category,
div.quarto-title div.quarto-categories div.quarto-category {
  background-color: white;
}

/* fix code block headers not pushing out to the left with block */
@media (min-width: 992px) {
  .code-with-filename-file {
    margin-left: calc(calc(-0.6em + -3px) + 2px);
  }
  .sourceCode {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}

/* fix code block header shading */
.code-with-filename .code-with-filename-file,
.code-with-filename .code-with-filename-file pre {
  background-color: rgb(219, 219, 219);
}

.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* nicer search style */

.aa-DetachedOverlay {
  backdrop-filter: blur(5px)
}

.aa-DetachedContainer {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.45);
  font-family: "Inter";
}

.aa-DetachedFormContainer {
  border-bottom: none;
  
  .aa-Form {
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
      
    &:focus-within {
      border-bottom: 1px solid indigo;
      box-shadow: 0 1px 0 0 indigo;
    }
  }
}

.aa-DetachedOverlay .aa-Item .search-item i.bi {
  margin-top: 2px;
}

