@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/

$code-block-border-left: true;

/* -- scss:mixins --*/

// noise effect for text
@mixin scratched($baseTurbFreq: 0.005, $turbOctaves: 1, $displaceScale: 5) {
  filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="filter" x="-10%" y="-10%" width="120%" height="120%">\
        <feTurbulence baseFrequency="#{$baseTurbFreq}" numOctaves="#{$turbOctaves}" result="turbulence" />\
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="#{$displaceScale}" xChannelSelector="R" yChannelSelector="G"/>\
      </filter>\
    </svg>#filter');
}

/*-- scss:rules --*/

// #quarto-document-content .about-entity {
//   align-items: end;

//   #title-block-header {
//     text-align: right;
//   }
// }

h1, h2, .h1, .h2 {
  @include scratched();
  font-weight: 800;

  &.text-lime-cyan {
    background: linear-gradient(45deg, #00aadd, #66dd00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &.text-orange-gold {
    background: linear-gradient(45deg, #f37335, #fdc830);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &.text-indigo-pink {
    background: linear-gradient(45deg, #4a00e0, #ff0099);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &.text-red-brown {
    background: linear-gradient(45deg, #ed213a, #93291e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &.text-black-white {
    background: linear-gradient(45deg, #333, #ccc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

span {
  &.text-lime-cyan {
    background: linear-gradient(45deg, #00aadd, #66dd00);
    color: white;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border-radius: 3px;
    font-weight: bold;
  }
  &.text-orange-gold {
    background: linear-gradient(45deg, #f37335, #fdc830);
    color: white;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border-radius: 3px;
    font-weight: bold;
  }
  &.text-indigo-pink {
    background: linear-gradient(45deg, #4a00e0, #ff0099);
    color: white;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border-radius: 3px;
    font-weight: bold;
  }
  &.text-red-brown {
    background: linear-gradient(45deg, #ed213a, #93291e);
    color: white;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border-radius: 3px;
    font-weight: bold;
  }
  &.text-black-white {
    background: linear-gradient(45deg, #333, #ccc);
    color: white;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border-radius: 3px;
    font-weight: bold;
  }
}

.listing-title {
  font-weight: 800;
}

.category-cloud {
  font-variant: all-small-caps;
  font-size: 0.75rem;
}

main.content a, .listing-category {
  font-weight: 600;
}

main.content .quarto-listing .listing-description {
  font-weight: normal;
}

figcaption.figure-caption {
  font-variant: all-small-caps;
}


/* home page header only (not post headers hopefully!) */
.quarto-about-jolla {
  
  header.quarto-title-block {
    border-bottom: none;
    padding-bottom: 0px;
    
    .description {
      text-align: center;
      // font-size: 1.25rem;
    }
  }
}

header.quarto-title-block .description {
  font-size: 1.15rem;
  // letter-spacing: 0.1rem; 
}

/* social links on mobile */
@include media-breakpoint-down(lg) {
  
  // homepage socials
  div.quarto-about-jolla .about-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.8em;
    row-gap: 15px;
    width: auto;
    font-size: 1.5em;

    .about-link-text {
      display: none;
    }

    .about-link {
      border: none;

      &:hover {
        color: gold;
      }
    }
  }
}

/* customise post header */
.quarto-title {
  display: flex;
  flex-direction: column-reverse;
}

header.quarto-title-block {
  padding-bottom: 1rem;
  border-bottom: 1px solid #edaaaf;
}

/* gentle shadow on cards */
.card {
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.1);
}

/* make category/tag pills opaque bg */
div.quarto-post .listing-categories .listing-category,
div.quarto-title div.quarto-categories div.quarto-category {
  background-color: white;
}

/* fix code block headers not pushing out to the left with block */
@media (min-width: 992px) {
  .code-with-filename-file {
    margin-left: calc(calc(-0.6em + -3px) + 2px);
  }
  .sourceCode {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}

/* fix code block header shading */
.code-with-filename .code-with-filename-file,
.code-with-filename .code-with-filename-file pre {
  background-color: rgb(219, 219, 219)
}